.header1 {
    background-color: #6C3483  ;
    padding: 50px 50px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }
.box{
    width: 90%;
    margin: auto;
    padding: 20px 20px 20px 20px;
   
}
.box2{
    width: 90%;
    margin: auto;
    padding: 20px 20px 20px 20px;
   
}